/application/backups/
/application/config/conf/
/application/logs/
/application/tmp/
/application/tpls/cache/
/application/tpls/templates_c/
/flux/in/commandes/logs/
/flux/in/commandes/save/
/flux/in/produits/logs/
/flux/in/produits/save/
/flux/out/commandes/logs/
/flux/out/commandes/save/
/flux/PDA/commandes/in/logs/
/flux/PDA/commandes/in/save/
/flux/PDA/commandes/out/logs/
/flux/PDA/commandes/out/save/
/flux/PDA/geolocalisation/in/logs/
/flux/PDA/geolocalisation/in/save/
/flux/PDA/geolocalisation/out/logs/
/flux/PDA/geolocalisation/out/save/
/www/PDA/commandes/in/logs/
/www/PDA/commandes/in/save/
/www/PDA/commandes/out/logs/
/www/PDA/commandes/out/save/
/www/PDA/geolocalisation/in/logs/
/www/PDA/geolocalisation/in/save/
/www/PDA/geolocalisation/out/logs/
/www/PDA/geolocalisation/out/save/

/www/images/photos/img_profile*.jpg
